<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Producto</title>
</head>
<body>
<form action="{% url 'product_new' %}" method="POST">
    {% csrf_token %}
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name">

    <label for="price">Precio:</label>
    <input type="number" name="price" id="price">

    <label for="description">Descripción:</label>
    <textarea name="description" id="description"></textarea>

    <label for="classification">Clasificación:</label>
    <select name="classification" id="classification">
        {% for clasification in classifications %}
            <option value="{{ clasification.pk }}">{{ clasification.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Crear</button>
</form>
</body>
</html>